.booking {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.booking__wrapper {
  width: 284px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.booking__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.booking__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.booking__wrapper-button {
  margin-left: auto;
  margin-right: auto;
}

.booking__button {
  padding: 16px 40px;
}

@media (min-width: @tablet-width) {
  .booking {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .booking__wrapper {
    width: 435px;
  }

  .booking__button {
    padding: 14px 121px 17px;
  }
}

@media (min-width: @tablet-width) {
  .booking__wrapper {
    width: 458px;
  }
}
