.main-form-desc__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.main-form-desc__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: @black;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main-form-desc {
    width: 410px;
    margin: 0 auto;
  }

  .main-form-desc__title {
    font-size: 30px;
  }
}

@media (min-width: @tablet-width) {
  .main-form-desc {
    width: 435px;
    margin: 0 auto;
  }
}
