.form__action {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.form__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.form-input-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  background-color: #f2f2f2;
}

.form-input-name::-webkit-input-placeholder {
  color: #000000;
}

.form-input-name::-moz-placeholder {
  color: #000000;
}

.form-input-contact {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  background-color: #f2f2f2;
}

.form-input-contact::-webkit-input-placeholder {
  color: #a9a9a9;
}

.form-input-contact::-moz-placeholder {
  color: #a9a9a9;
}

.form__text-radio,
.form__text-chekbox {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__coment {
  background-color: #f2f2f2;
}

.form__coment::-webkit-input-placeholder {
  color: #a9a9a9;
}

.form__coment::-moz-placeholder {
  color: #a9a9a9;
}

.form__additionally {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #c2c2c2;
}
