.impression {
  border: none;
}

.impression__container {
  display: flex;
  flex-direction: column;
}

.impression__radio {
  margin-bottom: 36px;
}

.impression__text {
  margin-left: 62px;
}

.impression__radio-visually {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: @light-grey;
  border-radius: 50%;
}

.impression__radio-form[type="radio"]:checked + .impression__radio-visually::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}

@media (min-width: @tablet-width) {
  .impression__container {
    width: 575px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .impression__container {
    width: 960px;
  }
}
