.nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #81b3d3;
}

.nav__item {
  padding-top: 12px;
  padding-bottom: 17px;
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
}
