.town,
.bridge {
  background-color: #81b3d2;
  color: #ffffff;
}

.square,
.road,
.tourist {
  background-color: #eeeeee;
}

.reason__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.reason__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.reason__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
