.social__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 156px;
  justify-content: space-between;
}

.social__link {
  color: @black;
  text-decoration: none;
}
