.text {
  border: transparent;
}

.text__coment {
  border: transparent;
  padding: 15px;
}

.text__coment::-moz-placeholder {
  font-family: "PT Sans";
  color: #a9a9a9;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.text__coment::-webkit-input-placeholder {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .text__coment {
    padding: 15px 300px 15px 15px;
  }
}
