.user-name {
  border: none;
  margin-bottom: 56px;
}

.user-name__input-text::-moz-placeholder {
  color: @black;
}

.user-name__input-text::-webkit-input-placeholder {
  color: @black;
}

.user-name__input-text {
  width: 250px;
}

@media (min-width: @desktop-width) {
  .user-name__input-text {
    width: 400px;
  }
}
